:root {
  --primary-color: #b05abb73;
  --antique-white: antiquewhite;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fontdiner Swanky", "sans-serif";
  color: purple;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: var(--primary-color);
}

header {
  background: linear-gradient(to top, var(--antique-white), #e100ff73);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

header h1 {
  filter: drop-shadow(0 0 1rem white);
  font-size: 36px;
  text-transform: uppercase;
}

header p {
  font-size: 32px;
  margin: 1rem 0;
}

nav {
  background-image: url("./assets/fondo-arcoiris.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

nav ul {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 48px;
  gap: 3rem;
  list-style: none;
  overflow-x: auto;
}

nav ul li {
  flex: 0 0 auto;
}

nav ul li a {
  font-size: 24px;
  text-transform: uppercase;
  color: rgb(255, 0, 149);
  filter: drop-shadow(0 0 1px purple);
  text-decoration: none;
}

nav ul li a:hover {
  color: white;
}

main {
  margin: 0 auto;
  padding: 2rem 1rem;
  max-width: 1440px;
}

h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem 0;
}

.text-container {
  background-color: var(--antique-white);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: justify;
  font-size: 1rem;
  gap: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.grid-item {
  background-color: var(--antique-white);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1rem;
  gap: 1rem;
}

.grid-item img {
  border-radius: 1rem;
}

.grid-item:hover {
  background-color: rgb(218, 144, 236);
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
  }

  main {
    padding: 2rem 4rem;
  }

  .text-container {
    font-size: 1.5rem;
  }
}

.masked-text {
  font-size: 3rem;
  font-weight: bold;
  color: transparent;
  filter: drop-shadow(0 0 1rem black);
  background-image: url('./assets/fondo-arcoiris.webp');
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: 0 -50%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-background 2s infinite alternate linear;
}

@keyframes animate-background {
  0% {
      background-position: 0 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}